extends layout

block content
    // Wrapper
    #wrapper  
        #addList 
            form(name="form", action="/lists", method="post")
                input#inputList(type='text', placeholder='List...', name="name")
                button#btnAddList Add List
            ul
                
        #addTask        
            form(name="form", action="/todos", method="post")
                input#inputTask(type='text', placeholder='Task...', name="name", size="100")
                button#btnAddTask Add Task 
            ul

        a(class=' fa fa-sign-out fa-3x', href='/users/logout') 
              
        #dialogList(title='Settings')
            p Change the name of list!
            input#name(type='text')
            p Choose users!
            input#email(type='email')
            button.btnReady Ready!

        #dialogTask            
            .control-input
                b.fa.fa-calendar
                input#datepicker_setdate(type='text', placeholder='Set date here...') 
            .control-input
                b.fa.fa-plus           
                input#addTask(autofocus='autofocus', placeholder='Add task here!')
            .control-input          
                #my-dropzone
                
    // /WRAPPER

