extends layout

block content
    // Wrapper
    #wrapper  
        #addList 
            form(name='form', action='/lists', method='post')
                input#inputList(type='text', placeholder='List...', name='name')
                button#btnAddList Add List
            ul
                
        #addTask        
            form(name='form', action='/tasks', method='post')
                input#inputTask(type='text', placeholder='Task...', name='name', size='100')
                button#btnAddTask Add Task 
            ul

        a(class=' fa fa-sign-out fa-3x', href='/users/logout') 
              
        #dialogList(title='Settings')
            p Change the name of list!
            input#name(type='text')
            p Choose users!
            form(name='form', method='post') 
                input#email(type='email', placeholder='Enter your email', name='email')
                button(class='assigned')  Share list! 
                input(class='btnReady', type='submit', value='Submit')

        #dialogTask            
            .control-input
                b.fa.fa-calendar
                input#datepicker_setdate(type='text', placeholder='Set date here...')                    
            #my-dropzone
            #addSubtask.control-input 
                form(name='form', action='/subtasks', method='post')          
                    input#inputSubtask(type='text', autofocus='autofocus', placeholder='Add subtask here!')
                    button#btnAddSubtask Add Subtask
                ul        
    script.
        var UserEmail = !{JSON.stringify(user.email)};
    // /WRAPPER

